@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');
@import 'var.scss';
@import 'blog.scss';


* {
  box-sizing: border-box;
}
html {
  font-family: $font-text;
  color: #fff;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.title {
  font-size: 90px;
  font-weight: 700;
}
.subtitle {
  font-weight: 300;
  font-style: 17px;
}
